.gara_list a {
    text-decoration: none;
}

.gara_list {
    list-style-type: none;
    padding: 0;
}

.showLoading {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
