.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}


@media (max-width: 575.98px) {  
  .custom-hidden {
    display: none;
  }
}